// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


// Define fonts for body and headers
$body-font: "Nunito", "Work Sans", "Helvetica", "sans-serif" ;
$headers-font: "Pacifico", "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

$tshadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

