.container-frame {
  h1 {
    color: $magenta;
  }
}
.cards-dashboard {
  display: flex;
  h1 {
    font-family: 'Pacifico', cursive;
    color: darkgrey;
  }
  h2 {
    font-family: 'Pacifico', cursive;
    font-size: 23px;
    margin-bottom: 15px;
    color: darkgrey;
  }
}

.component-dashboard-inflatable {
  background: white;
  padding: 15px;
  margin-right: 20px;
  border-right: dashed 5px $magenta;
  p {
    margin: 0px;
    font-size: 14px;
  }
}

.component-dashboard {
  padding: 15px;
}

.card-product {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  position: relative;
}

.links {
  padding: 16px;

}

.status-buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;

}
