.cards-show {
  display: flex;
  margin-top: 20px;

  h1, h3 {
    color: darkgrey;
  }

  p {
    margin: 0px;
  }

  h3 {
    font-size: 22px;
  }
}

.card-show-img {
  margin-right: 20px;
  width: 300px;
  height: 500px;

  img {
    height: 500px;
    width: 300px;
    object-fit: cover;
  }
}

