<div class="banner">

</div>

<%= cl_image_tag("es5rrf5axryj9xwqwwsz",
      width: 400, height: 300, crop: :fill) %>

<h1>Incredible Inflatables</h1>
<%= link_to "show all inflatables", inflatables_path  %>
