
.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: $magenta;
  transition: background 0.6s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: $green;
  color: white;
}
