
.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: $magenta;
  transition: background 0.5s ease;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn-gradient:hover {
  background: $green;
  color: white;
  text-decoration: none;
}


.btn-size {
  margin: 5px 0px;
  font-size: 12px;
  border-radius: 30px;
}
