.cards {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.extra-margin {
  margin: 30px 0px;
  h1 {
    color: $magenta;
    margin-bottom: 20px;
  }
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
  margin-left: 16px;
  }

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: block;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: block;
  }
}


