.card-inflatable {
  width: 300px;
  overflow: hidden;
  // background: grey;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-inflatable > img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

.card-inflatable h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-inflatable p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-inflatable-infos-big {
  // background-color: blue;
  padding: 16px;

}

.card-inf-name-and-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inf-description {
  margin-top: 4px;
  height: 40px;
  // background-color: yellow;
}


// .card-inflatable .card-inflatable-infos {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;
// }

// .card-inflatable-infos .card-inflatable-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }

// .card-inflatable-infos .card-inflatable-pricing {
  // position: absolute;
  // right: 5px;
  // top: 15px;
//   width: 40px;
//   background-color: green;
// }

