.navbar-lewagon {
  justify-content: space-between;
  background: #80FFD6;
  font-family: 'Pacifico', cursive;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
